/*GENERAL*/

@font-face {
    font-family: "Raleway-VariableFont_wght";
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

body {
    font-family: "Raleway-VariableFont_wght";
    background-color: white;
}

ul {
    list-style-type: none;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    font-size: medium;
}

header img {
    margin-top: 20px;
}

header ul {
    display: flex;
}

header li {
    margin: 20px;
    font-weight: normal;
}

header a {
    text-decoration: none;
}

header #inscription {
    color: #0065fc;
    font-weight: bold;
}

header a:visited {
    color: black;
}

header a:hover {
    border-top: 3px solid #0065fc;
    padding-top: 42px;
    color: #0065fc;
}

/*DESCRIPTION*/

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 3px;
}

#description h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 3px;
}

/*SEARCH*/

form {
    border: 1px #f2f2f2 solid;
    padding: Opx;
    border-radius: 14px;
    display: flex;
    height: 40px;
    width: 350px;
}

form i {
    background-color: #f2f2f2;
    justify-content: center;
    padding: 12px 15px 15px 15px;
    border-radius: 14px 0 0 14px;
}

form .search {
    width: 100%;
    font-family: "Raleway-VariableFont_wght";
    font-size: medium;
    font-weight: bold;
    border: none;
}

form .submit {
    background-color: #0065fc;
    color: white;
    font-family: "Raleway-VariableFont_wght";
    margin-left: auto;
    border-radius: 0px 14px 14px 0;
    font-weight: bold;
    font-size: medium;
    border: none;
}
/*FILTERS*/

#filters {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}
#filters h2 {
    font-size: 1em;
    font-weight: bold;
    margin-inline-end: 20px;
}

#filters div {
    border: 2px #f2f2f2 solid;
    font-weight: bold;
    border-radius: 25px;
    margin-inline-end: 15px;
    padding-inline-end: 15px;
}

#filters div:hover {
    background-color: #deebff;
    border-color: #0065fc;
}

#filters .fas {
    border: 0px;
    background-color: #deebff;
    border-radius: 100px;
    padding: 10px;
    color: #0065fc;
    margin-inline-end: 15px;
}

.fa-child {
    padding-right: 13px;
    padding-left: 13px;
}

/*INFO*/
#info i {
    padding: 3px 7px 3px 7px;
    background-color: white;
    border: 2px solid #f2f2f2;
    font-size: 0.7em;
    margin-inline-end: 5px;
    border-radius: 100px;
    color: #0065fc;
}

#info p {
    font-size: 0.8em;
}

/*HEBERGEMENTS*/

#locations {
    background-color: #f2f2f2;
    border-radius: 14px;
    flex: 2;
    margin-right: 30px;
}

#locations h2 {
    margin-left: 30px;
}

#locations #afficherplus {
    margin-left: 30px;
}

#loc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.loc {
    background-color: white;
    border-radius: 14px;
    padding: 5px;
    margin: 20px;
}

.loc img {
    border-radius: 14px 14px 0px 0px;
}

.loc h3 {
    font-size: 0.9em;
    margin-top: 4px;
    margin-bottom: 4px;
}

.loc p {
    font-size: 0.8em;
    margin-top: 4px;
    margin-bottom: 4px;
}

.fa-star {
    font-size: small;
    color: #0065fc;
}

.empty {
    color: #f2f2f2;
}

/*POPULAIRES*/

aside {
    background-color: #f2f2f2;
    display: flex;
    border-radius: 14px;
    flex-direction: column;
    flex: 1;
}

aside h2 {
    margin-left: 30px;
}

.pop {
    background-color: white;
    border-radius: 14px;
    padding: 5px;
    margin: 20px;
    display: flex;
}

.popinfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 5px;
}

.pop img {
    border-radius: 14px 0px 0px 14px;
}

.pop h3 {
    font-size: 0.9em;
    margin-top: 4px;
    margin-bottom: 4px;
}

.pop p {
    font-size: 0.8em;
    margin-top: 4px;
    margin-bottom: 4px;
}

.etoiles {
    display: flex;
    margin-top: auto;
    margin-bottom: 7px;
}

/*BLOC LOC + POP*/

#loc_aside {
    display: flex;
}

/*FOOTER*/

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: black;
}

footer ul li {
    margin-left: -40px;
    margin-bottom: 10px;
}

footer div {
    padding-right: 260px;
    padding-left: 0px;
}
