/*GENERAL*/

@font-face {
    font-family: "Raleway-VariableFont_wght";
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

body {
    font-family: "Raleway-VariableFont_wght";
    background-color: white;
}

ul {
    list-style-type: none;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    font-size: medium;
}

header img {
    margin-top: 20px;
}

header ul {
    display: flex;
}

header li {
    margin: 20px;
    font-weight: normal;
}

header a {
    text-decoration: none;
}

header #inscription {
    color: #0065fc;
    font-weight: bold;
}

header a:visited {
    color: black;
}

header a:hover {
    border-top: 3px solid #0065fc;
    padding-top: 42px;
    color: #0065fc;
}

/*DESCRIPTION*/

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 3px;
}

#description h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 3px;
}

/*SEARCH*/

/*FILTERS*/
#filters {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}
#filters h2 {
    font-size: 1em;
    font-weight: bold;
    margin-inline-end: 20px;
}

#filters div {
    border: 2px #f2f2f2 solid;
    font-weight: bold;
    border-radius: 25px;
    margin-inline-end: 15px;
    padding-inline-end: 15px;
}

#filters div:hover {
    background-color: #deebff;
    border-color: #0065fc;
}

.fas {
    border: 0px;
    background-color: #deebff;
    border-radius: 100px;
    padding: 10px;
    color: #0065fc;
    margin-inline-end: 15px;
}

#child {
    padding-right: 13px;
    padding-left: 13px;
}

/*INFO*/
#info i {
    padding: 3px 7px 3px 7px;
    background-color: white;
    border: 2px solid #f2f2f2;
    font-size: 0.7em;
    margin-inline-end: 5px;
}

#info p {
    font-size: 0.8em;
}

/*FOOTER*/

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: black;
}

footer ul li {
    margin-left: -40px;
    margin-bottom: 10px;
}

footer div {
    padding-right: 260px;
    padding-left: 0px;
}
